{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 70,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "src/components/**/*.js",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "src/App.js",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
